<!DOCTYPE html>
<html lang="" ng-app="<!-- @echo pkgname -->" class="no-js">
<head>
  <meta charset="utf-8">
  <title><!-- @echo pkgname --></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Place favicon.ico and apple-touch-icon(s) -->


  <!-- @if NODE_ENV == 'DEVELOPMENT' -->

  <!-- CSS  & JS development <!-- @echo pkgname --> -->
  <script src="/shared/dev/1_modernizr.js"></script>
  <script src="/shared/dev/2_angular.js"></script>
  <script src="/shared/dev/3_angular-route.js"></script>
  <script src="/shared/dev/4_jquery.js"></script>
  <script src="/shared/dev/5_foundation.js"></script>
  <script src="/shared/<!-- @echo pkgname -->.js"></script>
  <link rel="stylesheet" href="/shared/dev/normalize.css"/>
  <link rel="stylesheet" href="/shared/dev/foundation.min.css"/>
  <link rel="stylesheet" href="/shared/foundation-icons.css"/>
  <link rel="stylesheet" href="/shared/<!-- @echo pkgname -->.css"/>

  <!-- @endif -->

  <!-- @if NODE_ENV == 'PRODUCTION' -->

  <!-- CSS cdn's -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css"/>
  <!-- CSS  production <!-- @echo pkgname --> -->
  <link rel="stylesheet" href="/shared/<!-- @echo pkgname -->.min.css"/>

  <!-- JS cdn's -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"></script>
  <!-- JS production <!-- @echo pkgname --> -->
  <script src="/shared/<!-- @echo pkgname -->.min.js"></script>

  <!-- @endif -->


</head>
<body>
<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="tab-bar-section">
        <h1 class="title"><!-- @echo pkgname --></h1>
        </section>
      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>
    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Menu</label></li>
        <li><a href="#/view1">view1</a></li>
        <li><a href="#/view2">view2</a></li>
       </ul>
    </aside>
    <section class="main-section">

       <div ng-view></div>

    </section>

    <div class="footer text-center fi-universal-access"> Footer for <!-- @echo pkgname --> </span></div>

    <a class="exit-off-canvas"></a>

  </div>
</div>


<script>
    $(document).foundation();
</script>

</body>
</html>
